*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  display: flex;
  width: 1000px;
  height: 1000px;
  
  justify-content: center;
  align-items: center;
}

section {
    
    height: 200px;
    width: 200px;
    background-color: blue;
    text-align: center;
    
}